h1, p {
    text-align: center;
}

body {
    background-color: gainsboro;
}

li:hover {
    background-color: lime;
}

li:active {
    font-family: Arial, Helvetica, sans-serif;
}

ul ol {
    list-style: none;
}