body {
    font-size: 16px;
  }
  
  h1 {
    font-family: fantasy;
    width: 65px;
    color: orange
  }
  
  p {
    font-weight: 600;
    font-size: 3em;
  }
  
  ul {
    background-color: aqua;
  }

  .classe-1 {
    background-color: chartreuse;
    font-weight: bold;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
  }